*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #ffff;
    color: #333;
}

.contacto{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 70px 20px;
}

.titulo-contacto{
    text-align: center;
    margin-bottom: 60px;
}

.titulo-contacto h1{
    font-size: 48px;
    color: #000000;
    margin-bottom: 20px;
    font-weight: bold;
}

.titulo-contacto p{
    width: 70%;
    margin: auto;
    font-size: 16px;
    max-width: 800px;
    color: #666;
    line-height: 30px;
}

.contenedor-contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.informacion{
    width: 420px;
}

.card-contacto{
    display: grid;
    grid-template-columns: 60px auto;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    background: #fff;
    padding: 14px 18 px;
    margin-bottom: 25px;
    border-radius: 14px;
    box-shadow: 0 8px 20px rgba(0,0,0,.08);
    transition: .4s;
}

.card-contacto:hover{
    transform: translateY(-8px);
    box-shadow: 0 15px 30px rgba(0,0,0,.15);
}

.card-contacto img{
    width: 36px;
    height: 36px;
    object-fit: contain;
    justify-self: end;
}

.card-contacto div{
    width: 280px;
}

.card-contacto h3{
    color: #000000;
    margin-bottom: 8px;
    font-size: 22px;
}

.card-contacto p{
    color: #555;
    line-height: 28px;
}

.formulario{
    width: 470px;
    background: #fff;
    padding: 25px;
    border-radius: 18px;
    box-shadow: 0 8px 20px rgba(0,0,0,.08);
}

.formulario form{
    width: 100%;
    margin: auto;
}

.formulario h2{
    text-align: center;
    color: #000000;
    margin-bottom: 30px;
    font-size: 35px;
}

.formulario input, .formulario textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
    transition: .3s;
}

.formulario input:focus, .formulario textarea:focus{
    border: 1px solid #000000;
}

.formulario textarea{
    resize: none;
    height: 150px;
}

.formulario button{
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 30px;
    background: #000000;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: .4s;
}

.formulario button:hover{
    background: #000000;
}

.extras{
    width: 100%;
    padding: 30px 8% 80px;
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
}

.redes, .pagos{
    width: 420px;
    background: white;
    padding: 30px;
    border-radius: 18px;
    box-shadow: 0 8px 20px rgba(0,0,0,.08);
}

.redes h2, .pagos h2{
    text-align: center;
    color: #000000;
    margin-bottom: 25px;
    font-size: 30px;
}

.red-social, .metodo{
    display: grid;
    grid-template-columns: 45px auto;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    padding: 15px 0;
    transition: .3s;
}

.red-social:hover, .metodo:hover{
    transform: scale(1.05);
}

.red-social img, .metodo img{
    width: 35px;
    height: 35px;
    object-fit: contain;
    justify-self: end;
}

.red-social span, .metodo span{
    width: 150px;
    text-align: left;
    font-size: 18px;
    color: #444;
}

.mapa{
    padding: 20px 8% 80px;
}

.mapa h2{
    text-align: center;
    color: #000000;
    font-size: 40px;
    margin-bottom: 30px;
}

.mapa iframe{
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,.12);
}
